.gradient-primary {
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 0.9),
    rgba(37, 117, 252, 0.9)
  );
}

.gradient-secondary {
  background: linear-gradient(
    to right,
    rgba(72, 198, 239, 1),
    rgba(111, 134, 214, 1)
  );
}

/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

.nav-icon .bi {
  font-size: 1.4em;
}
